@charset "UTF-8";


footer {
	background:#793796;
	color: #FFF;
	position: relative;
	padding: 0 16px;
	width: 100%;
	bottom:0;
	left:0;
}

ul{
	list-style: none;
	padding-top: 16px;
	margin: 0;
}

.socialMedia{
	display: flex;

}

.socialMedia img{
	margin-right: 16px;
	
}

 #LegalText{
	color:#ADADAD;
	margin: 0;
	padding: 8px;
	text-align: right;
}
