@charset "UTF-8";
/* CSS Document */
/* rename / split file as php filenames change. */

.Project{
	align-items: center;
	display: block;
	position: relative;
}

.ProjectHeader {
	width: 100%;
	margin: auto;
	background-size: cover;
	height: 20em;
}

.ProjectHeader h1{
	position: absolute; 
    color:#FFF;
	font-size: 3em;
    width: 100%;
}

.ProjectDescription p{
	width: 50%;
	margin: 1em auto;
}

.ProjectDescription img{
	width:30%;
}

.ProjectGallery{
	display: inline-flex;
	justify-content: center;
}

.ProjectGallery img{
	width: 20%;
	margin:1em;

}

/* COMMENT: Background images for live sessions (temporarily MediaLog.php), TODO: fix names and link images. */

#BarHarbor{
    background-image: url(../img/MedellingWorkshops.png);
}

#Granada{
    background-image: url(../img/MedellingWorkshops.png);
}

#PuertoViejo{
    background-image: url(../img/MedellingWorkshops.png);
}

#Medellin2{
    background-image: url(../img/MuseumTour.png);
}

#Medellin1{
    background-image: url(../img/MuseumTour.png);
}

#Sudamerica{
    background-image: url(../img/MuseumTour.png);
}

#Panama{
    background-image: url(../img/MuseumTour.png);
}

#Ithaca{
    background-image: url(../img/MuseumTour.png);
}

/* COMMENT: Background images for featured projects (temporarily PastProjects.php), TODO: fix names and link images. */

#LIA{
	background-image: url(../img/MuseumTour.png);
	background-position: center right;
}

/* TODO: need a permanent name for the meta-workshop project. */
#fixmyname{
    background-image: url(../img/MedellingWorkshops.png);
}

#WhoseShoes{
    background-image: url(../img/MuseumTour.png);
}

#YQWERT{
    background-image: url(../img/MuseumTour.png);
}
